@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --noto-serif: "Noto Serif", serif;
    --inter: "Inter", sans-serif;
    --light-grey: #8987A1;
    --active-black:#252432;
    --title-orange: #E95A08;
    --description-grey: rgba(0, 0, 0, 0.5);
    --background-color: #f5f8ff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
}

body{
    font-family: var(--inter);
    background-color: var(--background-color);
}


.container{
    max-width: 1440px;
    margin:  0 auto;
}


.title{
    font-weight: bold;
    font-family: var(--noto-serif);
}
.span-title{
    color: var(--title-orange);
}

.description{
    color: var(--description-grey);
}




/* Navbar  */
nav ul {
    list-style: none;
    display: flex;
    gap: 3rem;
}

nav ul div{
    display: flex;
    gap: 3rem;
}

li a {
    text-decoration: none;
    color: var(--light-grey);
}
ul > a {
    color: black;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 9.375rem 0 9.375rem;

}
.logo {
    color: var(--title-orange);
}
.active-nav{
    color: var(--active-black);
    font-weight: bold;
}

.cart-text{
    padding-left: 10px;
}

/* Hero  */

.hero{
    padding: 7.5rem 9.375rem;
    display: flex;
    align-items: flex-end;
}

.hero-title{
    font-size: 4rem;
}

.hero-text{
    flex: 1;
}

.hero-image{
    flex: 1;
}

.hero-description{
    font-size: 1.375rem;
}



/* Our Plant  */
.our-plant-container{
    padding: 0 9.375rem;
}

.plant-title{
    text-align: center;
    font-size: 3.125rem;
}

.plant-description{
    font-size: 1.325rem;
    text-align: center;
    max-width: 55rem;
    margin: 0 auto;
    padding-top:1rem ;
    padding-bottom: 3rem;
}

.card-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px 20px;
}
.card{
    /* box-shadow: 0 0 40px rgba(0, 0, 0, 0.1); */
}

.card-text{
    text-align: center;
    padding: 30px 0;
}

.card-title{
    font-weight: 500;
    font-size: 1.375rem;
}

.card-price{
    font-weight: bold;
    font-size: 1.375rem;
}

.btn-primary{
    background: var(--title-orange);
    color: white;
    padding: 1.125rem;
    margin: 0 auto;
    width: 100%;
    font-size: 1rem;
    font-weight: 600;
}




/* Plant lover  */
.badge{
    position: absolute;
    top: -100px;
    right: -100px;
    width: 286px;
}

.plant-lover{
   padding: 13.125rem 9.375rem 8.3125rem 9.375rem;

}

.plant-lover-container{
    
    display: flex;
    justify-content: space-between;
}
.plant-lover-image{
    position: relative;
    flex: 1;
}

.flowershop{
    height: 100%;
    object-fit:cover;
}

.plant-lover-text{
    flex: 1;
    padding: 38px 0 38px 60px ;

}

.plant-lover-title{
    font-weight: bold;
    font-size: 3.125rem;
}

.plant-lover-description ul {
    list-style: disc;
    padding-left: 1rem;
    list-style-position: outside;
    color: var(--light-grey);
    font-size: 1.375rem;
}

.plant-lover-description ul li{
    margin-top: 20px;
    padding-left: 0.5rem;     /* aligns text nicely */
    text-indent: -0.1rem;
}



/* Latest Deals  */

.latest-deal{
    padding: 0 9.375rem;

}
.latest-deal-text{
    text-align: center;
}

.latest-deal-title{

    font-weight: bold;
    font-size: 3.125rem;
}

.ld-desc{
    padding-top: 1rem;
    font-size: 1.375rem;

}


.latest-deal-grid{
    padding: 7.5rem 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px 28px;
}

.grid-card{
    position: relative;
    border-radius: 14px;
}

.grid-card img{
    border-radius: 14px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0,.4);
  border-radius: 14px;
  z-index: 10;
}
.grid-card .grid-card-text {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1.5rem;
  text-align: center;
  z-index: 11;
} 

.off{
    font-family: var(--noto-serif);
    font-weight: bold;
    font-size: 1.25rem;
}

.shopnow{
    font-weight: 600;
    font-size: 1rem;
    text-decoration: underline;
}

#zabo-text{
    font-size: 2.5rem;
}


.join{
    padding: 11.85rem 19rem;
    margin: 0 auto;
    background-repeat: none;
    background-size: cover;
    background-position: center;
    background-image: url('/assets/news-letter-bg.png');
}

.join-title{
    text-align: center;
    font-size: 3.125rem;
    color: white;
}

.searchbar{
    margin-top: 1.5rem;
    display: flex;
}

.email{
    flex: 5;
    background-color: white;
    padding-left: 20px;
}

.email:focus{
    
}

.btn{
    flex: 1;
}

.footer-container{
    padding: 3.125rem 9.376rem;
    display: flex;
    justify-content: space-around;
}

.credit-desc {
    max-width: 21rem;
    padding-top: 1rem;
    font-size: 1.375rem;
    color: rgba(0, 0, 0, 0.5);
}



.navigation{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.right,
.left{
    gap: 3.5rem;
    display: flex;
    flex-direction: column;
}

.left a,
.right a{
    color: var(--light-grey);
}

.social-container{

    
}
.icon-row{
    gap: 1.5rem;
    display: flex;
    align-items: center;
}
.social-container a{
 
    width: 36px;
}
/* Media Query  */


@media screen and (max-width: 576px) {

    .logo{
        width: 4rem;
    }
    .navbar{
        padding:1rem 1rem 0 1rem ;
    }
    nav ul div {
        display: none;
    }

    .hero{
        padding: 0;
        flex-direction: column-reverse;
    }

    .hero-image{
        width: 100%;
        padding:1.75rem 0;
    }
    .hero-text{
        padding: 0 1rem;
    }

    /* .hero-title{
        font-size: 1.5rem;
    }

    .hero-description{
    font-size: 0.875rem;
    } */

    /* Our Plant  */

    .our-plant-container{
        padding: 4rem 1rem;
    }

    .card-grid{
        grid-template-columns: repeat(2, 1fr);
    }

    .plant-lover{
        padding: 0 1rem;

    }

    .plant-lover-container{
        display: flex;
        flex-direction: column;
    
    }

    .plant-lover-text{
        padding: 1rem;
    }

    .plant-lover-title{
        font-size: 2rem;
    }

    .badge{
        display: none;

    }

    .latest-deal{
        padding: 0 1rem;

    }
    .grid-card img{
        width: 100%;
    }

    .latest-deal-grid{
        padding: 7.5rem 0;
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px 0;
    }
    .join{
        padding: 4rem 2.25rem;
        margin: 0 auto;
       
    }
    .join-title{
  
        font-size: 1.25rem;
       
    }

    .footer-container{
        margin: 3.125rem 1.25rem;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .credit-desc{
        font-size: 1rem;
    }

    .right,
    .left{
        gap: 35px;
        
    }
    
}


@media screen and (min-width:577px ) and ( max-width: 768px){
    .navbar{
        padding:1rem 1rem 0 1rem ;
    }
    nav ul div {
        display: none;
    }

    .hero{
        padding: 0;
        flex-direction: column-reverse;
    }

    .hero-image{
        width: 100%;
        padding:1.75rem 0;
    }
    .hero-text{
        padding: 0 1rem;
    }

    .hero-title{

    }


    
}